@import "tailwindcss";

@theme {
  --color-primary: #ced4da;
  --color-secondary: #8b03f0;
  --color-tertiary: #9ca3af;
  --color-primary-text: #111928;
  --color-secondary-text: #6b7280;
  --color-stroke: #f9fafb;
  --color-alert: #ff0000;
}
